.header-hero {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: #00D293;
    /* height: 70vh; */
}

.svg-border-rounded img {
    width: 70%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .header-hero {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
  }
